/* Do the Import
-----------------------------------------------------------------------------*/

@import "tesla";

/* Screen Basics
-----------------------------------------------------------------------------*/

.screen{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}


/* Screen Top Area
-----------------------------------------------------------------------------*/

.screen__top-area{
	display: grid;
	grid-template-columns: 25% 1fr;
}

.top-row__right{
	overflow: hidden;
	background-position: center center;
	background-size: cover;
	
	img{
		width: 100%;
	}
}

.top-row__left{
	img{
		width: 100%;
	}
}

/* Screen Main Control Strip
-----------------------------------------------------------------------------*/

.screen__main-control img{
	width: 100%;
}

/* Screen Bottom Area
-----------------------------------------------------------------------------*/

.screen__bottom-area{
	flex-grow: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	
}

.bottom-area__item{
	border: solid 1px #333;
}

@media only screen 
  and (orientation: landscape){
	  .bottom-area__item:nth-child(n+3){
		  display: none;
	  }
}

