/* Colors
-----------------------------------------------------------------------------*/

$gray-500: hsl(0, 0, 50);
$gray-600: hsl(0, 0, 40);
$gray-700: hsl(0, 0, 30);
$gray-800: hsl(0, 0, 20);
$gray-900: hsl(0, 0, 10);
$body-bg: hsl(0, 0, 0);
$body-color: $gray-500;
$hover-color: $gray-500;
$jumbotron-bg: rgba(255, 255, 255, 0.2);
$border-color: #777;

/* Fonts
-----------------------------------------------------------------------------*/

$font-family-sans-serif: Montserrat;

/* Misc
-----------------------------------------------------------------------------*/


$border-radius-sm: 30px;
$btn-border-radius: 40px;
$input-btn-padding-x: 30px;

/* Do the Import
-----------------------------------------------------------------------------*/

@import "node_modules/bootstrap/scss/bootstrap";

/* Buttons
-----------------------------------------------------------------------------*/

.btn {
    border-color: $body-color;
    color: $body-color;
    background-color: transparent;
    padding-left: 2rem;
    padding-right: 2rem;
    text-transform: uppercase;
}

.btn:hover {
    border-color: $body-color;
    color: #fff;
    background-color: $hover-color;
}

.btn.is-active {
    background-color: $hover-color !important;
    color: #fff !important;
}


/* Buttongroups
-----------------------------------------------------------------------------*/

.btn-group .btn {
    color: $border-color;
    background-color: $gray-800;
    border-color: $gray-800;
}


/* Basic Rules
-----------------------------------------------------------------------------*/

h2 {
    margin-bottom: 2rem;
}

.container+.container {
    margin-top: 3rem;
}