/* ----------------------------------------------------------------------------
components.css                                                                  
Enthält alle Regeln zu Komponenten.  

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


/* Site Header
-----------------------------------------------------------------------------*/

.site-header {
    margin-bottom: var(--space-stack-xl);
}


/* Section Header
-----------------------------------------------------------------------------*/

.section__header {
    border-bottom: solid 1px var(--color-borders);
    padding-bottom: var(--space-stack);
    margin-bottom: var(--space-stack-xl);
}


/* Navigation
-----------------------------------------------------------------------------*/


/* Footer
-----------------------------------------------------------------------------*/

.footer {}