/* Button
-----------------------------------------------------------------------------*/

.tsl-button {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: var(--tsl-border-radius);
    padding-left: var(--tsl-border-radius);
    padding-right: var(--tsl-border-radius);
    text-transform: uppercase;
    transition: background-color 0.3s;
    vertical-align: bottom;
    box-shadow: var(--tsl-shadow);
}

.tsl-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.tsl-button.tsl-has-icons {
    text-transform: none;
}


/* Icons
-----------------------------------------------------------------------------*/

.tsl-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.tsl-navigate {
    background-image: url("../images/tsl/navigate-icon.svg");
    background-size: 20px 20px;
}